name: Release

on:
  workflow_call:

permissions:
  contents: read
  id-token: write

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment: release
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          pattern: mlflow-go-wheels-*
          merge-multiple: true
          path: wheelhouse

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: wheelhouse
          skip-existing: true
          verbose: true
          attestations: false